/*logo-search*/
.cart img {
	margin: 0 35%;
}

.cart span {
	right: 85px;
}

.find-deal img{
	padding: 30px 0;
    position: relative;
    float: left;
}

.find-deal span{
	float: left;
    position: absolute;
    top: 50px;
    margin-left: -60px;
}

.find-deal-bonus img{
	padding: 30px 0;
    position: relative;
    float: left;
}

.find-deal-bonus span{
	float: left;
    position: absolute;
    top: 50px;
    margin-left: -50px;
}